.parent-element {
    display: inline-block;
}

.footer-container {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}

.subtitle-container {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}